:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --vh: 1vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@keyframes blink {
  0% {
    opacity: 0.2;
    transform: translateY(0px);
  }

  20% {
    opacity: 1;
    transform: translateY(-2px);
  }

  40% {
    opacity: 0.2;
    transform: translateY(0px);
  }

  100% {
    opacity: 0.2;
  }
}
